---
title: Portfolio | Ahmed Menouni
---
<div class="bg-gradient" aria-hidden="true">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div>

<div class="container container-lg">

  <div class="navbar-wagon">
    <!-- Logo -->
    <a href="/" class="navbar-wagon-brand">
      <img src="images/logo.svg" alt="logo">
    </a>

    <!-- Right Navigation -->
    <div class="navbar-wagon-right hidden-xs hidden-sm">

      <a href="#about" class="navbar-wagon-item navbar-wagon-link">About</a>
      <a href="#works" class="navbar-wagon-item navbar-wagon-link">Works</a>
      <a href="#contact" class="navbar-wagon-item navbar-wagon-link"><img src="images/contact.svg" alt="contact">Contact</a>

    </div>

    <!-- Dropdown appearing on mobile only -->
    <div class="navbar-wagon-item hidden-md hidden-lg">
      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown" style="color:white; font-size: 22px;"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="#about">About</a></li>
          <li><a href="#works">Works</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- status info -->
  <div class="status">
    <div class="pulse"></div>
    <p class="status-text">Currently available for new adventures&nbsp;&nbsp; 🚀</p>
  </div>

  <div class="header">
    <div class="header-content">
      <h1><b>Hey,</b> I'm Ahmed</h1>
      <p class="text-intro">I try to help startups to develop outstanding products. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      <p><%= link_to "Get in touch", "#contact", :class => "btn button--inverse" %>
      <%= link_to "See my works", "#works", :class => "btn button" %></p>
    </div>

    <!-- sublime-text window -->
    <div class="sublime-text">

      <!-- # String#center

      def puts_title(title, size:20, decoration:"#")
        puts "".center(size, decoration)
        puts " #{title} ".center(size, decoration)
        puts "".center(size, decoration)
      end

      puts_title("Welcome!") -->

    <div class="screen">
      <div class="left-bar"></div>
      <div class="top-bar">
        <div class="buttons"></div>
        <div class="title-window-sub"><img class="ruby" src="images/ruby.svg" alt="ruby">welcome.rb — portfolio</div>
      </div>
      <div class="code">
        <div class="row row1">
          <p><span class="sub-gray"># String#centered</span></p>
        </div>
        <div class="row row2">
          <p> </p>
        </div>
        <div class="row row3">
          <p>
            <span class="sub-red">def</span>
            <span class="sub-green">puts_title</span>(<span class="sub-orange">title</span>,
            <span class="sub-orange">size</span>:
            <span class="sub-purple">20</span>,
            <span class="sub-orange">decoration</span>:
            <span class="sub-yellow">"#"</span>)
          </p>
        </div>
        <div class="row row4">
          <p>&nbsp;&nbsp;<span class="sub-turquoise">puts</span>  <span class="sub-yellow">""</span>.center(size, decoration)</p>
        </div>
        <div class="row row5">
          <p>&nbsp;&nbsp;<span class="sub-turquoise">puts</span> <span class="sub-yellow">" #{title} "</span>.center(size, decoration)</p>
        </div>
        <div class="row row6">
          <p>&nbsp;&nbsp;<span class="sub-turquoise">puts</span> <span class="sub-yellow">""</span>.center(size, decoration)</p>
        </div>
        <div class="row row7">
          <p><span class="sub-red">end</span></p>
        </div>
        <div class="row row8">
          <p> </p>
        </div>
        <div class="row row9">
          <p>puts_title(<span class="sub-yellow">"Welcome!"</span>)</p>
        </div>

       <!--  <div class="row row10">
          <p class="sub-gray">####################</p>
        </div>
        <div class="row row11">
          <p class="sub-gray">##### Welcome! #####</p>
        </div>
        <div class="row row12">
          <p class="sub-gray">####################</p>
        </div> -->

        <div class="row row13">
          <p class="cursor"></p>
        </div>
      </div>
    </div>

  </div>
  </div>

  <!-- window terminal zsh -->
  <div class="terminal">

      <!--
      ####################
      ###### Welcome! ######
      #################### -->

    <div class="terminal-screen">
      <!-- <div class="terminal-left-bar"></div> -->
      <div class="terminal-top-bar">
        <div class="terminal-buttons"></div>
        <div class="title-window">1. demtzu@MacBook-Pro-de-Ahmed: ~ (zsh)</div>
      </div>
      <div class="terminal-code">
          <div class="row row1">
            <p><span class="sub-green"><strong>➜</strong></span> <span class="sub-turquoise">portfolio</span> <span class="sub-blue">git:(</span> <span class="sub-red">master</span><span class="sub-blue">)</span><span class="sub-yellow"> <strong>✗</strong></span> ruby welcome.rb</p>
          </div>
          <div class="row row2">
            <p class="sub-gray">####################</p>
          </div>
          <div class="row row3">
            <p class="sub-gray">##### Welcome! #####</p>
          </div>
          <div class="row row4">
            <p class="sub-gray">####################</p>
          </div>
          <div class="row row5">
            <p class="cursor"></p>
          </div>
      </div>
    </div>
  </div>

  <!-- section 1 - What I do -->
  <div class="section1" id="about">

    <div class="skills">
          <div class="skill-icons">
            <a href="#" class="skill-icon-link">
              <div class="skill-icon-container ruby">
                <div class="image skill-icon" style="background-image: url(/images/ruby-icon.svg); width:50px;height:50px;"></div>
              </div>
            </a>
            <a href="#" class="skill-icon-link">
              <div class="skill-icon-container rails">
                <div class="image skill-icon" style="background-image: url(/images/rails-icon.svg); width:45;height:45px;"></div>
              </div>
            </a>
            <a href="#" class="skill-icon-link">
              <div class="skill-icon-container profil">
                <div class="image skill-icon img-circle" style="background-image: url(/images/avatar.jpg); width:160px;height:160px;""></div>
              </div>
            </a>
            <a href="#" class="skill-icon-link">
              <div class="skill-icon-container middleman">
                <div class="image skill-icon " style="background-image: url(/images/middleman-icon.svg); width:40px;height:40px;"></div>
              </div>
            </a>
            <a href="#" class="skill-icon-link">
              <div class="skill-icon-container git">
                <div class="image skill-icon" style="background-image: url(/images/git-icon.svg); width:35px;height:35px;"></div>
              </div>
            </a>
            <a href="#" class="skill-icon-link">
              <div class="skill-icon-container github">
                <div class="image skill-icon" style="background-image: url(/images/github-icon.svg); width:55px;height:55px;"></div>
              </div>
            </a>
            <a href="#" class="skill-icon-link">
              <div class="skill-icon-container css">
                <div class="image skill-icon" style="background-image: url(/images/css-icon.svg); width:50px;height:50px;"></div>
              </div>
            </a>
            <a href="#" class="skill-icon-link">
              <div class="skill-icon-container javascript">
                <div class="image skill-icon" style="background-image: url(/images/javascript-icon.svg); width:35px;height:35px;"></div>
              </div>
            </a>
            <a href="#" class="skill-icon-link">
              <div class="skill-icon-container postgresql">
                <div class="image skill-icon" style="background-image: url(/images/postgresql-icon.svg); width:30px;height:30px;"></div>
              </div>
            </a>
            <a href="#" class="skill-icon-link">
              <div class="skill-icon-container html">
                <div class="image skill-icon" style="background-image: url(/images/html-icon.svg); width:35;height:35px;"></div>
              </div>
            </a>
            <a href="#" class="skill-icon-link">
              <div class="skill-icon-container materialize">
                <div class="image skill-icon" style="background-image: url(/images/materialize-icon.svg); width:25;height:25px;"></div>
              </div>
            </a>
            <a href="#" class="skill-icon-link">
              <div class="skill-icon-container bootstrap">
                  <div class="image skill-icon" style="background-image: url(/images/bootstrap-icon.svg); width:35;height:35px;"></div>
                </div>
            </a>
          </div>
    </div>

    <div class="section1-content">
      <h1>Ahmed Menouni</h1>
      <h3>Full Love Web Developer ❤️</h3>
      <p class="text-section1">I try to help startups to develop outstanding products. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

      <hr class="separator">

        <ul class="skills-list">
          <li class="">
            <a class="skills-Link" href="#">
              Ruby
            </a>
          </li>
          <li class="">
            <a class="skills-Link" href="#">
              Ruby on Rails
            </a>
          </li>
          <li class="">
            <a class="skills-Link" href="#">
              Middleman
            </a>
          </li>
          <li class="">
            <a class="skills-Link" href="#">
              HTML5
            </a>
          </li>
          <li class="">
            <a class="skills-Link" href="#">
              CSS3 / SASS
            </a>
          </li>
          <li class="">
            <a class="skills-Link" href="#">
              Javascript / ES6
            </a>
          </li>
          <li class="">
            <a class="skills-Link" href="#">
              Bootstrap
            </a>
          </li>
          <li class="">
            <a class="skills-Link" href="#">
              Materialize
            </a>
          </li>
          <li class="">
            <a class="skills-Link" href="#">
              PostGreSQL
            </a>
          </li>
          <li class="">
            <a class="skills-Link" href="#">
              Git
            </a>
          </li>
          <li class="">
            <a class="skills-Link" href="#">
              Github
            </a>
          </li>
          <li class="">
            <a class="skills-Link" href="#">
              Heroku
            </a>
          </li>
      </ul>
      <!-- <p><%= link_to " Github", "https://github.com/demtzu", target: "_blank", :class => "fab fa-github" %></p> -->
      <p><%= link_to "Get in touch", "#contact", :class => "btn button--inverse" %>
      <%= link_to "See my Github", "https://github.com/demtzu", :class => "btn button" %></p>
    </div>
  </div>

  <!-- section 2 - works - Heliast -->
  <div class="section2" id="works">

    <!-- rayures -->
    <div class="bg-grey" aria-hidden="true">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>

    <!-- sans rayure -->
    <div class="bg-grey2" aria-hidden="true">
    </div>

    <div class="section2-content">
      <h1>Heliast</h1>
      <h3>Overcome indecision 🤷🏻‍♂️</h3>
      <p class="text-section2">Should I stay or should i go? Burger or Tacos? Travelling or Studying? Struggling with indecision is like being stuck in the mud. It’s just no fun. First <%= link_to "Heliast", "http://www.heliast.fr", target: "_blank" %> is a personal tool to measure your indecision. Then, you can send it to a random person who has to make the decision for you before a deadline.</p>
      <p><strong>Technology -</strong> Ruby on Rails, Git, Cloudinary, PostegreSQL, Heroku
      <br><strong>Practices -</strong> Continuous Delivery, mobile-first methodology</p>

      <hr class="separator">

      <ul class="technos">
        <li class="">
          <a class="common-Link" href="#">
            Ruby on Rails backend
          </a>
        </li>
        <li class="">
          <a class="common-Link" href="#">
            Administration via Railsadmin
          </a>
        </li>
         <li class="">
          <a class="common-Link" href="#">
            Authentication via Devise
          </a>
        </li>
        <li class="">
          <a class="common-Link" href="#">
            Notifications via AJAX & Action Cable
          </a>
        </li>
        <li class="">
          <a class="common-Link" href="#">
            ActionMailer via Postmark
          </a>
        </li>
        <li class="">
          <a class="common-Link" href="#">
            Search via pg_search
          </a>
        </li>
        <li class="">
          <a class="common-Link" href="#">
            Background jobs
          </a>
        </li>
        <li class="">
          <a class="common-Link" href="#">
            Image upload via Cloudinary
          </a>
        </li>
        <li class="">
          <a class="common-Link" href="#">
            Materialize & Bootstrap CSS frontend
          </a>
        </li>
        <li class="">
          <a class="common-Link" href="#">
            JS Alerts via SweetAlert
          </a>
        </li>
        <li class="">
          <a class="common-Link" href="#">
            JS Carousel via Slick
          </a>
        </li>
        <li class="">
          <a class="common-Link" href="#">
            Gamification score feature
          </a>
        </li>
        <li class="">
          <a class="common-Link" href="#">
            Survey & comments feature
          </a>
        </li>
        <li class="">
          <a class="common-Link" href="#">
            Online/Offline users feature
          </a>
        </li>
    </ul>
      <p>
      <%= link_to "See the demo", "https://www.lewagon.com/demoday/177/heliast", { :class => 'btn button--inverse', 'data-toggle' => 'modal', 'data-target' => '#exampleModalCenter' } %>
        <%= link_to "See the repo", "https://github.com/demtzu/heliast2", target: "_blank", :class => "btn button" %>
      </p>
    </div>

    <!-- Button trigger modal -->
    <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
      Launch demo modal
    </button> -->

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Heliast | Le Wagon Demo Day - Batch #177</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/_BwJYWpmMr4?rel=0&amp;start=2548" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="iphone-x">
      <div class="divider-iphone"></div>
      <div class="bezel-iphone"></div>
      <div class="screen-iphone">
        <div class="slider">
          <div class="s-wrap s-type-2" role="slider">
              <ul class="s-content">
                <li class="s-item s-item-1"></li>
                <li class="s-item s-item-2"></li>
                <li class="s-item s-item-3"></li>
                <li class="s-item s-item-4"></li>
                <li class="s-item s-item-5"></li>
                <li class="s-item s-item-6"></li>
                <li class="s-item s-item-7"></li>
                <li class="s-item s-item-8"></li>
              </ul>
          </div>
        </div>
        <!-- <img src="/images/heliast-screenshot-1.png" style="width:313px;"> -->
      </div>
      <div class="speaker-iphone"></div>
      <div class="camera-iphone"></div>
      <div class="button-iphone mute"></div>
      <div class="button-iphone vol-up"></div>
      <div class="button-iphone vol-down"></div>
      <div class="button-iphone right"></div>
      <div class="divider-iphone"></div>
    </div>

  </div>

  <!-- section 3 - works - MeM -->
  <div class="section3">

    <!-- rayures -->
    <div class="bg-white" aria-hidden="true">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>

    <!-- sans rayure -->
    <!-- <div class="bg-white2" aria-hidden="true">
    </div> -->

    <div class="laptop-container">
      <div class="laptop">
          <span class="shadow"></span>
          <span class="lid"></span>
          <span class="camera"></span>
          <span class="screen">
            <img src="/images/mem1.jpg" style="width:552px; opacity: 0.9;">
            <!-- <div class="slider">
              <div class="s-wrap s-type-2" role="slider">
                <ul class="s-content">
                  <li class="s-item s-item-1"></li>
                  <li class="s-item s-item-2"></li>
                  <li class="s-item s-item-3"></li>
                  <li class="s-item s-item-4"></li>
                  <li class="s-item s-item-5"></li>
                  <li class="s-item s-item-6"></li>
                  <li class="s-item s-item-7"></li>
                  <li class="s-item s-item-8"></li>
                </ul>
              </div>
            </div> -->
          </span>
          <span class="chassis">
          <span class="keyboard"></span>
          <span class="trackpad"></span>
          </span>
      </div>
    </div>

    <div class="section3-content">
      <h1>Montre en Main</h1>
      <h3>Luxury watch rental ⌚</h3>
      <p class="text-section3">You rent your apartment. Why Not your watch? Whether you need a watch for a special occasion, night out or just to wear something new and exciting, <%= link_to "MeM", "http://mem-efoucault.herokuapp.com/watches", target: "_blank" %> is here to make it happen.</p>
      <p><strong>Technology -</strong> Ruby on Rails, Git, Cloudinary, PostegreSQL, Heroku
      <br><strong>Practices -</strong> Continuous Delivery</p>

      <hr class="separator">

      <ul class="technos">
        <li class="">
          <a class="common-Link" href="#">
            Ruby on Rails backend
          </a>
        </li>
        <li class="">
          <a class="common-Link" href="#">
            Admin via ActiveAdmin
          </a>
        </li>
        <li class="">
          <a class="common-Link" href="#">
            Authentication via Devise
          </a>
        </li>
        <li class="">
          <a class="common-Link" href="#">
            Geocoding via Google API
          </a>
        </li>
        <li class="">
          <a class="common-Link" href="#">
            Search via pg_search
          </a>
        </li>
        <li class="">
          <a class="common-Link" href="#">
            Image upload via Cloudinary
          </a>
        </li>
        <li class="">
          <a class="common-Link" href="#">
            Bootstrap CSS frontend
          </a>
        </li>
        <li class="">
          <a class="common-Link" href="#">
            Chat feature
          </a>
        </li>
        <li class="">
          <a class="common-Link" href="#">
            Reviews & rating feature
          </a>
        </li>
        <li class="">
          <a class="common-Link" href="#">
            Datepicker feature
          </a>
        </li>
    </ul>
      <p>
      <%= link_to "See the website", "http://mem-efoucault.herokuapp.com/watches", { :class => 'btn button--inverse' } %>
        <%= link_to "See the repo", "https://github.com/demtzu/mem", target: "_blank", :class => "btn button" %>
      </p>
    </div>

  </div>

  <!-- last section - contat form -->
  <div class="last-section">

    <!-- rayures -->
    <!-- <div class="bg-blue-lines">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div> -->

    <!-- sans rayure -->
    <!-- <div class="bg-white2" aria-hidden="true">
    </div> -->

  </div>

</div>

<div class="footer">

  <div class="bg-last-grey">
  </div>
  <!-- rayures -->
  <div class="bg-blue-lines">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>

  <div class="container container-footer">

    <div class="form-container">

            <div class="form-title">
                <h3 id="contact">Get in touch</h3>
                <p>Would you like to share your project with me?</p>
            </div>

    <form action="https://formspree.io/ahmed.menouni@gmail.com" method="POST">

      <div class="form-group row">
        <!-- <label for="example-text-input" class="col-2 col-form-label">Name</label> -->
          <div class="col-12">
          <input class="form-control" type="text" placeholder="Elon Musk" id="name" name="message">
          </div>
      </div>

      <div class="form-group row">
        <!-- <label for="exampleInputEmail1" class="col-2 col-form-label">Email</label> -->
        <div class="col-12">
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="elon@spacex.com" name="mail">
        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>
      </div>

      <div class="form-group row">
      <!-- <label for="example-url-input" class="col-2 col-form-label">URL</label> -->
        <div class="col-12">
        <input class="form-control" type="url" placeholder="https://www.spacex.com" id="example-url-input" name="url">
        </div>
       </div>

      <div class="form-group row">
         <!-- <label for="exampleTextarea" class="col-2 col-form-label">Message</label> -->
         <div class="col-12">
         <textarea class="form-control" id="exampleTextarea" rows="3" name="Text" placeholder="Hey..."></textarea>
        </div>
       </div>
       <div class="text-center">
        <input type="hidden" name="_next" value="/thanks.html" />
           <button type="submit" class="btn button--inverse"><img src="images/contact.svg" style="height:12px; width: 12px">&nbsp;&nbsp;Send</button>

       </div>
    </form>

    </div>

    <div class="footer-links">
      <a href="https://github.com/demtzu"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright">
      Made with Middleman, hosted on Github Pages.
    </div>

  </div>

</div>
