---
title: Portfolio - Ahmed Menouni
---
<div class="bg-gradient" aria-hidden="true">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div>

<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <img src="images/logo.svg" alt="logo">
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <a href="" class="navbar-wagon-item navbar-wagon-link">About</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Works</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Contact</a>

  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">About</a></li>
        <li><a href="#">Works</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="header">
  <div class="header-content">
    <h1>Hey I'm Ahmed</h1>
    <p class="text-intro">I try to help startups to develop outstanding products. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    <p><%= link_to "Get in touch", "#", :class => "btn button--inverse" %>
    <%= link_to "See my works", "#", :class => "btn button" %></p>
  </div>

  <div class="sublime-text">

  <div class="screen">
    <div class="left-bar"></div>
    <div class="top-bar">
      <div class="buttons"></div>
    </div>
    <div class="code">
      <div class="row row1">
        <!-- <p class="green"></p> <p class="purple"></p> -->
        <p>welcome = "Hello World"</p>
      </div>
      <div class="row row2">
        <!-- <p class="blue"></p> <p class="yellow"></p> <p class="green"></p> -->
        <p>puts welcome</p>
      </div>
      <div class="row row3">
        <p class="transparent"></p><p class="orange"></p> <p class="green"></p> <p class="purple"></p>
      </div>
      <div class="row row4">
        <p class="transparent"></p><p class="transparent"></p><p class="yellow"></p> <p class="blue"></p> <p class="green">
        </p>
      </div>
      <div class="row row5">
        <p class="transparent"></p><p class="transparent"></p><p class="purple"></p> <p class="orange"></p> <p class="yellow">
        </p>
      </div>
      <div class="row row6">
        <p class="transparent"></p><p class="green"></p> <p class="blue"></p> <p class="purple">
        </p>
      </div>
      <div class="row row7">
        <p class="transparent"></p><p class="yellow"></p> <p class="purple"></p> <p class="green">
        </p>
      </div>
      <div class="row row8">
        <p class="transparent"></p><p class="transparent"></p><p class="orange"></p> <p class="green"></p> <p class="purple">
        </p>
      </div>
      <div class="row row9">
        <p class="transparent"></p><p class="blue"></p> <p class="yellow"></p><p class="cursor"></p>
      </div>
    </div>
  </div>

</div>
</div>

<div class="section1">
  <div class="section1-content">
    <h1>Ahmed Menouni</h1>
    <h3>Hey I'm Ahmed</h3>
    <p class="text-section1">I try to help startups to develop outstanding products. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    <p><%= link_to "Know more", "#" %></p>
    <p><%= link_to "Get in touch", "#", :class => "btn button--inverse" %>
    <%= link_to "See my works", "#", :class => "btn button" %></p>
  </div>
</div>

